tqdm==4.66.4
numpy==1.26.4
insightface==0.7.3
opencv-python==4.10.0.82
onnxruntime==1.18.0
pandas==2.2.2
fastapi==0.111.0
uvicorn==0.30.1
fastapi-utils==0.7.0
elasticsearch==8.14.0
python-multipart==0.0.9
PyMuPDF==1.24.5
pdf2image==1.17.0